.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

button{
    text-transform: uppercase;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #393E46;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
}

button:hover{
    background-color:#393E46;
    color: #fff;
}

h1{
    color:#2D4059;
    font-size: 45px;
}

h2{
    font-size:45px;
}